<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>from openweather.org</title>
    <style>
        table{border-collapse: collapse;
              border: 1px solid grey;}
        th, td{border: 1px solid grey;
               padding: 5px 5px; }
    </style>
</head>
<body>
    <div>
        <h1>Weather in {{ city }}</h1>
        <table>
            <tr>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
            </tr>
            <tr>
                <td>{{ weather['main']['temp'] }}</td>
                <td>{{ weather['main']['humidity'] }}</td>
                <td>{{ weather['main']['pressure'] }}</td>
            </tr>
        </table>
    </div>
</body>
</html>